.dashboard-container {
  padding: 16px;
}

mat-card {
  padding: 16px;
}

.task-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

table {
  width: 100%;
}
